@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --White: hsl(0, 100%, 100%);
  --Grey500: hsl(217, 12%, 63%);
  --Grey-900: hsl(213, 19%, 18%);
  --Grey-950: hsl(216, 12%, 8%);
  --Orange-500: hsl(25, 97%, 53%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey-950);
}
.secNone {
  max-width: 350px;
  background-color: var(--Grey-900);
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s;
}
.container {
  color: white;
}
.container .star img {
  width: 30px;
  padding: 5px;
  background-color: #ffffff1c;
  border-radius: 50%;
}

.q_a h3 {
  font-size: 25px;
  margin: 20px 0;
}
.q_a p {
  color: var(--White);
  font-weight: 100;
  line-height: 1.5;
}
.btns {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.btns button {
  padding: 10px 14px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff1c;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.btns button:hover {
  background-color: var(--White);
  color: black;
}
.inp {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: 0;
  background-color: var(--Orange-500);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.5s;
  cursor: pointer;
}
.inp:hover {
  background-color: var(--White);
}
.secBlock {
  background-color: var(--Grey-900);
  padding: 25px;
  text-align: center;
  border-radius: 20px;
  max-width: 350px;
}
.secBlock img {
  margin: 15px 0;
}
.secBlock h3 {
  background-color: #ffffff1c;
  width: fit-content;
  margin: 20px auto;
  color: var(--Orange-500);
  padding: 5px 10px;
  border-radius: 25px;
}
.secBlock h4 {
  font-weight: bold;
  color: var(--White);
  font-size: 1.8rem;
  margin: 20px 0;
}
.secBlock p {
  line-height: 1.5;
  color: var(--White);
  font-weight: 100;
}
.hidden {
  display: none;
}
